Source: sil-kit-adapter-generic-linux-io
Priority: optional
Maintainer: Vector <support@vector.com>
Build-Depends: debhelper-compat (= 12), cmake
Standards-Version: 4.6.0
Section: misc
Homepage: https://github.com/vectorgrp/sil-kit-adapters-generic-linux-io
Vcs-Git: https://github.com/vectorgrp/sil-kit-adapters-pkg.git
Vcs-Browser: https://github.com/vectorgrp/sil-kit-adapters-pkg
Rules-Requires-Root: no

Package: sil-kit-adapter-generic-linux-io
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libsilkit4
Description: Attach generic Linux IO devices to the Vector SIL Kit
 The Vector SIL Kit Adapter for Generic Linux IO is an open-source
 tool which can attach the SIL Kit to generic Linux IO devices such
 as character devices or GPIO chips. The SIL Kit Adapter GLIO source
 and documentation is licensed under a permissible open source license,
 see LICENSE file. For licenses of third party dependencies, see
 ThirdParty/LICENSES.rst.
